<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/pngegg.png"> -->
    <link rel="icon" type="image/png" href="../assets/img/dog.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>My Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="../assets/css/high-chart.css"/>

    <!-- <link href="../assets/css/demo.css" rel="stylesheet" /> -->
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg"> 
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        <i class="nc-icon nc-cloud-upload-94"></i>
                        &nbsp; DASHBOARD IOT
                    </a>
                </div>
                <ul class="nav">    
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>My Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/user">
                            <i class="nc-icon nc-bullet-list-67"></i>
                            <p>Điều khiển thiết bị</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/history">
                            <i class="nc-icon nc-notes"></i>
                            <p>Lịch sử theo dõi</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-square-pin"></i>
                            <p id="RTC"> </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">My Dashboard </a>
                    <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation"> -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="https://time.is"  target="_blank">
                                    <p>
                                        <b>Local time:</b>&nbsp;<span id="rtc"> </span>
                                        <i class="nc-icon nc-square-pin"></i>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    <!-- </div> -->
                </div>
            </nav> 
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Biểu Đồ Theo Dõi - 1</h4>
                                    <p class="card-category">Nhiệt độ - Độ ẩm - Ánh sáng</p>
                                </div>
                                <div class="card-body">
                                    <!-- <div id="chartHours" class="ct-chart">
                                    </div> -->
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                        <p class="highcharts-description">
                                        </p>
                                      </figure>
                                </div>
                                <div class="card-footer ">
                                    <!-- <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Độ ẩm
                                        <i class="fa fa-circle text-danger"></i> Nhiệt độ
                                        <i class="fa fa-circle text-warning"></i> Ánh sáng
                                    </div> -->
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Biểu Đồ Theo Dõi - 2</h4>
                                    <p class="card-category">Nhiệt độ - Độ ẩm - Ánh sáng</p>
                                </div>
                                <div class="card-body ">
                                    <!-- <div id="chartActivity" class="ct-chart"></div> -->
                                    <figure class="highcharts-figure">
                                        <div id="container2"></div>
                                        <p class="highcharts-description">
                                        </p>
                                      </figure>
                                </div>
                                <div class="card-footer ">
                                    <!-- <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Độ ẩm
                                        <i class="fa fa-circle text-danger"></i> Nhiệt độ
                                        <i class="fa fa-circle text-warning"></i> Ánh sáng
                                    </div> -->
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="/">
                                    Home Page
                                </a>
                            </li>
                            <li>
                                <a href="/user">
                                    Control center
                                </a>
                            </li>
                            <li>
                                <a href="/history">
                                    History
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            SV - Đào Minh Hiếu &nbsp;
                            <a href="http://www.creative-tim.com"> Nguồn tham khảo</a>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>  
</body>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!--  Chartist Plugin  -->
<!-- <script src="../assets/js/plugins/chartist.min.js"></script> -->
<!--  Notifications Plugin    -->
<!-- <script src="../assets/js/plugins/bootstrap-notify.js"></script> -->
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="../assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="../assets/js/demo.js"></script> -->
<!-- <script src="highcharts.js"></script> --> 
<script src="../assets/highcharts.js"></script>
<script src="../assets/exporting.js"></script>
<script src="../assets/export-data.js"></script>
<script src="../assets/accessibility.js"></script>
<!-- socket.io -->
<script src="socket.io/socket.io.js"> </script>

<!-- <script type="text/javascript">
    $(document).ready(function() {
        demo.showNotification(0, 0);
    });
</script> -->

<script>
    var chart =  Highcharts.chart('container', 
    {
        title: {
            text: ''
        },
        xAxis: {
            title: {
            text: 'Date and Time',
            },
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                 borderWidth: 0
            }
        },
        series: [{
            type: 'column',
            name: 'Độ ẩm %',
            data: []

        }, {
            // type: 'column',
            name: '',
            data: []
        },{
            type: 'column',
            name: 'Ánh sáng',
            data: []
        },{
            type: 'column',
            name: 'Nhiệt độ °C',
            data: []
        }]
    });

    var chart2 = Highcharts.chart('container2', {
        title: {
            text: ''
        },
        xAxis: {
            categories: []
        },
        labels: {
            items: [{
            html: '',
            style: {
                left: '50px',
                top: '18px',
                color: ( // theme
                Highcharts.defaultOptions.title.style &&
                Highcharts.defaultOptions.title.style.color
                ) || 'black'
            }
            }]
        },
        series: [{
            type: 'column',
            name: 'Độ ẩm %',
            data: []
        }, {
            // type: 'column',
            name: ''
            // data: []
        }, {
            type: 'column',
            name: 'Ánh sáng',
            data: []
        }, {
            type: 'spline',
            name: 'Nhiệt độ °C',
            data: [],
            marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[3],
            fillColor: 'orange'
            }
        }]
    });
    var socket = io.connect();
    socket.on("server-update-graph", function (data) {
        //dashboard 1
        chart.series[0].setData(data.humi_graph);
        chart.series[2].setData(data.lux_graph);
        chart.series[3].setData(data.temp_graph);
        chart.xAxis[0].setCategories(data.date_graph);

        //dashboard 2
        chart2.series[0].setData(data.humi_graph);
        chart2.series[2].setData(data.lux_graph);
        chart2.series[3].setData(data.temp_graph);
        chart2.xAxis[0].setCategories(data.date_graph);
    });
</script>

<!-- local time -->
<script>
    setInterval(function () {
        var whatTimeIsThis = new Date()
        whatTimeIsThis = whatTimeIsThis.toString().slice(4, 24);
        document.getElementById("RTC").innerHTML = whatTimeIsThis
        document.getElementById("rtc").innerHTML = whatTimeIsThis
    }, 1000)
</script>
</html>
