<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/new_logo.png"> -->
    <link rel="icon" type="image/png" href="../assets/img/dog.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>My Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/button-slider.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-3.jpg" data-color="purple">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        <i class="nc-icon nc-cloud-upload-94"></i>
                        &nbsp; DASHBOARD IOT
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>My Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user">
                            <i class="nc-icon nc-bullet-list-67"></i>
                            <p>Điều khiển thiết bị</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/history">
                            <i class="nc-icon nc-notes"></i>
                            <p>Lịch sử theo dõi</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-square-pin"></i>
                            <p id="RTC"> </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/user">Control Center</a>
                    <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation"> -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://time.is" target="_blank">
                                    <p>
                                        <b>Local time:</b>&nbsp;<span id=" rtc"> </span>
                                <i class="nc-icon nc-square-pin"></i>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </nav>
            <!-- End Navbar -->
            <fieldset>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- <h4 class="card-title text-center"> -->
                                        <p style="color:#333;font-size:150%;">
                                            <b>Room - 1</b>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 1</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device1" onclick="saveClickBox('#device1');get_button_status(id);">
                                                        <label for="device1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 2</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device2" onclick="saveClickBox('#device2');">
                                                        <label for="device2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 3</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device3" onclick="saveClickBox('#device3');">
                                                        <label for="device3"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 4</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device4" onclick="saveClickBox('#device4');">
                                                        <label for="device4"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- <h4 class="card-title text-center"> -->
                                        <p style="color:#333;font-size:150%;">
                                            <b>Room - 2</b>
                                        </p>
                                    </div>
                                    <!-- <fieldset> -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 1</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device1-room2"
                                                            onclick="saveClickBox('#device2');get_button_status(id);" >
                                                        <label for="device1-room2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 2</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device2-room2" onclick="saveClickBox('#device2-room2');">
                                                        <label for="device2-room2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 3</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device3-room2" onclick="saveClickBox('#device3-room2');">
                                                        <label for="device3-room2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="switch-holder">
                                                    <div class="switch-label">
                                                        <span>Thiết bị 4</span>
                                                    </div>
                                                    <div class="switch-toggle">
                                                        <input type="checkbox" id="device4-room2" onclick="saveClickBox('#device4-room2');">
                                                        <label for="device4-room2"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </fieldset> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <!--  Chartist Plugin  -->
    <!-- <script src="../assets/js/plugins/chartist.min.js"></script> -->
    <!--  Notifications Plugin    -->
    <!-- <script src="../assets/js/plugins/bootstrap-notify.js"></script> -->
    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
    <!-- <script src="../assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script> -->
    <!-- socket.io -->
    <script src="../socket.io/socket.io.js"></script>

    <script>
        var socket = io.connect();
        // socket.emit("client-send-data", "hello")
        function get_button_status(id) {
            var checkbox = document.getElementById(id);
            if (checkbox.checked) {
                socket.emit("client-send-data", "on")
            } else {
                socket.emit("client-send-data", "off")
            }
        }
    </script>

    <!-- save state of button -->
    <script>
        //get all id of type checkbox
        var ids = $("fieldset :checkbox").map(function () {
            return this.id;
        }).get();

        //luu trang thai moi khi nhan nut
        function saveClickBox(id) {
			let checkBox_status = $(id).is(":checked");
			localStorage.setItem(id, checkBox_status);//key id, value check status
			// $("#msg").text("Checkbox is checked: " + $(id).is(":checked"));
		}

        //load lai trang thai da luu khi reload page
		function onReady() {
			ids.forEach(function(id_value){
				var id = '#'+id_value;
				let get_checkBox_status = "true" == localStorage.getItem(id);
				$(id).prop('checked', get_checkBox_status);
			});
		}
        $(document).ready(onReady);
    </script>

    <!-- local time -->
    <script>
        setInterval(function () {
            var whatTimeIsThis = new Date()
            whatTimeIsThis = whatTimeIsThis.toString().slice(4, 24);
            document.getElementById("RTC").innerHTML = whatTimeIsThis
            document.getElementById("rtc").innerHTML = whatTimeIsThis
        }, 1000)
    </script>
</body>

</html>